{% extends "base.html" %}

{% block content %}
    <h1>Checkout</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>{{ form.name.label }} {{ form.name() }}</div>
        <div>{{ form.address.label }} {{ form.address() }}</div>
        <div>{{ form.card_type.label }} {{ form.card_type() }}</div>
        <div>{{ form.card_number.label }} {{ form.card_number() }}</div>
        <div>{{ form.exp_month.label }} {{ form.exp_month() }}</div>
        <div>{{ form.exp_year.label }} {{ form.expr_year() }}</div>
        <div>{{ form.cvv.label }} {{ form.cvv() }}</div>
        <div>{{ form.submit() }}</div>
    </form>
    <h2>Your Order</h2>
    <ul>
        {% for item in cart %}
            <li>{{ item.name }} - ${{ item.price }} - x{{ item.quantity }}</li>
        {% endfor %}
    </ul>
    <div>Total: ${{ cart.get_total_price() }}</div>
{% endblock %}