{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/items_page.css') }}">

<div class="product-detail-container">
    <h1 class="product-title">{{ results.name }}</h1>
    <div class="product-description">
        <p>{{ results.description }}</p>
    </div>
    <div class="product-metadata">
        <span class="product-stock">In stock: {{ results.stock }}</span>
        <span class="product-price">Price: ${{ results.price }}</span>
    </div>
    
</div>

{% endblock %}
