{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/items_page.css') }}">

<div class="product-detail-container">
    <h1 class="product-title">{{ results.name }}</h1>
    <div class="product-description">
        <p>{{ results.description }}</p>
    </div>
    <div class="product-metadata">
        <span class="product-stock">In stock: {{ results.stock }}</span>
        <span class="product-price">Price: ${{ results.price }}</span>
    </div>

    <form action="{{ url_for('add_to_cart', product_id=results.id) }}" method="post">
        <input type="number" name="quantity" value="1" min="1" max="{{ results.stock }}" class="quantity-input">
        <input type="hidden" name="product_id" value="{{ results.id }}">
        <button type="submit" class="btn btn-primary">Add to Cart</button>
    </form>
    
</div>

{% endblock %}
